h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

a:focus {
  outline: none;
}

ul {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

input {
  padding: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.clear {
  clear: both;
}

.clear-a::after {
  content: " ";
  display: table;
  clear: both;
}

body {
  min-width: 320px;
  position: relative;
  font-size: 13px;
  line-height: 1.3;
  font-family: 'Poppins', sans-serif;
  color: #000;
  background-color: #fff;
}

.page {
  position: relative;
  overflow: hidden;
}

.accent-c {
  color: #1eb858;
}

.ttl {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 15px;
}

.sub-ttl {
  color: #abafb8;
  text-transform: uppercase;
  font-size: 14px;
}

img {
  max-width: 100%;
}

.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

.header_inn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header_r {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.nav .nav-link {
  color: #fff !important;
  text-decoration: none !important;
}

.nav .nav-link:hover {
  opacity: 0.7;
}

.hero-itm {
  padding-top: 50px;
  height: 100vh;
  -webkit-background-size: cover;
          background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.s-downl {
  padding: 95px 0 75px;
  background-color: #F7F7F7;
}

.downl_row {
  margin: 40px auto 0;
  max-width: 900px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.downl_i {
  margin: 20px 20px;
  padding: 20px 30px;
  background-color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.downl_i_l {
  width: 37px;
}

.content-cent {
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.content-center-inn {
  width: 100%;
}

.gadget_lis {
  list-style: none;
}

.tech_lis {
  font-size: 17px;
  line-height: 42px;
}
