@import "tools/fonts";

@import "tools/variables";
@import "tools/reset_and_basic-classes";


//main tags & classes
html{}
body{
	min-width: 320px;
	position: relative;
	font-size: 13px;
	line-height: 1.3;
	font-family: 'Poppins', sans-serif;
	color: #000;
	background-color: #fff;
}
.page{
	position: relative;
	overflow: hidden;
}

.footer{

}

h1,h2,h3,h4,h5,h6{

}


//
@import "media";

@import "header";
@import "header-media";
//

@import "parts/1";
@import "parts/1-media";



//
@import "pages/p-1";
@import "pages/p-1-media";












//
@import "footer";
@import "footer-media";
//


.accent-c{
	color: #1eb858;
}
.ttl{
	font-size: 26px;
	font-weight: 700;
	margin-bottom: 15px;
}
.sub-ttl{
	color: #abafb8;
	text-transform: uppercase;
	font-size: 14px;
}
img{
	max-width: 100%;
}
.header{
	position: absolute;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 1;
}
.header_inn{
	display: flex;
	justify-content: space-between;
}
.header_r{
	display: flex;
}


.nav{
	.nav-link{
		color: #fff !important;
		text-decoration: none !important;
		&:hover{
			opacity: 0.7;
		}
	}
}



.hero-itm{
	padding-top: 50px;
	height: 100vh;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}



.s-downl{
	padding: 95px 0 75px;
	background-color: #F7F7F7;
}
.downl_row{
	margin: 40px auto 0;
	max-width: 900px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.downl_i{
	margin: 20px 20px;
	padding: 20px 30px;
	background-color: #fff;
	display: flex;
}
.downl_i_l{
	width: 37px;
}




.content-cent{
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.content-center-inn{
	width: 100%;
}


.gadget_lis{
	list-style: none;
	>li{
		&:before{
			// content:
		}
	}
}



.tech_lis{
	font-size: 17px;
	line-height: 42px;
}

